@{
    ViewBag.Title = "About";
}
<h3>Demo</h3>


<div id="demoForm"></div>
<br />
<div id="container"></div>
<style>
    .selected {
        background: red;
        font-weight: bold;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/Scripts/app/data.js"></script>
<script src="~/Scripts/griddle.js"></script>
<script type="text/babel" src="~/Scripts/app/index.jsx"></script>
@*<script type="text/babel" src="~/Scripts/app/Parent.jsx"></script>*@
<script type="text/babel" src="~/Scripts/app/search.jsx"></script>
